appdirs==1.4.4
astroid==2.4.2
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
decorator==4.4.2
et-xmlfile==1.0.1
fake-useragent==0.1.11
googlefinance==0.7
googlefinance.get==0.4.9
idna==2.10
isort==5.4.2
jdcal==1.4.1
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
numpy==1.19.1
openpyxl==3.0.5
pandas==1.1.1
pandas-datareader==0.9.0
parse==1.16.0
pkg-resources==0.0.0
py==1.9.0
pyee==7.0.2
pylint==2.6.0
pyppeteer==0.2.2
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-html==0.10.0
retry==0.9.2
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
tqdm==4.48.2
typed-ast==1.4.1
urllib3==1.25.10
w3lib==1.22.0
webencodings==0.5.1
websockets==8.1
wrapt==1.12.1
yahoo-fin==0.8.6
